
body{font-family:Arial;background:#f4f4f4;}
.container{max-width:500px;margin:auto;padding:20px;}
h1{color:#006400;}
button{width:100%;padding:12px;background:#006400;color:#FFD700;border:none;border-radius:6px;font-size:16px;margin-top:10px;}
input{width:100%;padding:10px;margin-bottom:10px;}
.log{padding:10px;border-radius:6px;margin-bottom:10px;color:white;}
.green{background:#006400;}
.red{background:#8B0000;}
